:root {
  --font-color: black;
  --font-color-nde: white;
  --main-color: rgb(6, 154, 173);
  --second-color: rgba(168, 168, 168, 0.74);
}

.move_menu, .sandwich, .Login, .qwant, input[type=button], .bouton, .Login  {
  background-color: var(--main-color);
}

.Anniversaire{
  background-color: red;
}

.raccourciM{
  background-color: green;
}

.raccourciB{
  background-color: yellow;
}

.Center, .site {
  background-color: var(--second-color);
}

.FormCrea {
  background-color: var(--second-color);
}

.file, .IcoBook, .Copybook i {
  color: var(--main-color);
}


html, ul, h4, .Title, .taoki, .sandwich_icon, .menu_cross, .menu_link, .retour, .legal, footer ul, footer ul:visited, .link_footer:checked, .link_footer:link, .link_footer, .link_footer:active, .shortcut, .shortcut:visited, .shortcut:active, .shortcut:checked, .texteF, input[type=button], .bouton, .Login, .texte {
  color: var(--font-color);
}

.sujets a, .Dropzone, .Copybook:visited, .texteF, .sujets a:visited  {
  color: var(--font-color-nde);
}

.FormCrea {
  color: var(--font-color);
}

.contact {
  color: black;
}

html {
  background: radial-gradient(ellipse at right, rgb(255,255,255), rgb(210,210,210)),
              radial-gradient(ellipse at left, rgb(255,255,255), rgb(210,210,210))
}
