:root {
  --font-color: white;
  --font-color-nde: black;
  --main-color: rgb(29, 64, 65);
}

.Center, .site {
  background-color: var(--font-color);
}

html, ul, h4, .Title, .taoki, .burger_icon, .menu_cross, .menu_link, .retour, .legal, footer ul, footer ul:visited, .link_footer:checked, .link_footer:link, .link_footer, .link_footer:active, .shortcut, .shortcut:visited, .shortcut:active, .shortcut:checked {
  color: var(--font-color);
}


.move_menu, .burger, .Anniversaire, .Login, .qwant, .raccourciM, .raccourciB {
  background-color: var(--main-color);
}

.file, .IcoBook, .Copybook i {
  color: var(--main-color);
}


.sujets a, .Dropzone, .texte, .Copybook:visited {
  color: var(--font-color-nde);
}

input[type=button], .bouton {
  background-color: var(--main-color);
  color: var(--font-color);
  border: 1px solid var(--font-color-nde);
}

.Login {
  background-color: var(--main-color);
  color: var(--font-color);
}

.sujets a:visited {
  color: var(--font-color-nde)
}

html {
  background: radial-gradient(ellipse farthest-corner at 50% 140%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.85) 90%);
}