:root {
  --font-color: white;
  --font-color-nde: black;
  --main-color: rgb(29, 64, 65);
  --second-color: rgb(19, 52, 42);
}

.move_menu, .sandwich, .Login, .qwant, input[type=button], .bouton, .Login, .semaine {
  background-color: var(--main-color);
}

.Anniversaire{
  background-color: darkred;
}

.raccourciM{
  background-color: darkgreen;
}

.raccourciB{
  background-color: rgb(150,120,0);
}

.Center, .site {
  background-color: var(--font-color);
}

.FormCrea, .semaine button:hover, .semaine button.active {
  background-color: var(--second-color);
}

#navbar{
  background-color: rgba(19, 52, 42,0.74);
}

.file, .IcoBook, .Copybook i, .matiere {
  color: var(--main-color);
}


.Title, .taoki, .sandwich_icon, .menu_cross, .menu_link, .legal, #navbar, #navbar a:visited, .link_footer:checked, .link_footer:link, .link_footer, .link_footer:active, .shortcut, .shortcut:visited, .shortcut:active, .shortcut:checked, .texteF, input[type=button], .bouton, .Login, .texteB {
  color: var(--font-color);
}

.sujets a, .Dropzone, .texte, .Copybook:visited, .texteF, .sujets a:visited, .tabcontent  {
  color: var(--font-color-nde);
}

.Publication_texte p{
  color: var(--font-color-nde);
}

.FormCrea, .semaine button {
  color: var(--font-color);
}

.contact {
  color: var(--font-color-nde);
}

html {
  background: radial-gradient(ellipse farthest-corner at 50% 140%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.85) 90%);
}
