:root {
  --font-color: white;
  --font-color-nde: black;
  --main-color: rgb(29, 64, 65);
  --second-color: rgb(19, 52, 42);
}

/* Background Color */

.move_menu, .sandwich, .Login, .qwant, .bouton, .Login, .semaine, .iconCrea, .ListeDeroulante, .btn-info, .dropbtn {
  background-color: var(--main-color);
}

.Anniversaire{
  background-color: darkred;
}

.raccourciM{
  background-color: darkgreen;
}

.raccourciB{
  background-color: rgb(150,120,0);
}

.Center, .site {
  background-color: var(--font-color);
}

.FormCrea, .semaine button:hover, .semaine button.active, #navbar, .btn-info:hover, .dropbtn:hover, .dropbtn:focus {
  background-color: var(--second-color);
}

/* Color */

.file, .IcoBook, .Copybook i, .matiere, .code, .IconeProfil {
  color: var(--main-color);
}


.Title, .taoki, .sandwich_icon, .menu_cross, .menu_link, .legal, #navbar, #navbar a:visited, .link_footer:checked, .link_footer:link, .link_footer, .link_footer:active, .shortcut, .shortcut:visited, .shortcut:active, .shortcut:checked, .texteF {
  color: var(--font-color);
}

.FormCrea, .semaine button, #navbar a, .bouton, .Login, .texteB , .ListeDeroulante, .btn-info, .dropbtn {
  color: var(--font-color);
}

.sujets, .sujets a, .Dropzone, .texte, .Copybook:visited, .texteF, .sujets a:visited, .tabcontent, .Publication_texte p, .contact, #navbar a:hover, .chip, .chip a {
  color: var(--font-color-nde);
}

.input_field:focus {
  border-color: var(--main-color);
}

html {
  background: radial-gradient(ellipse farthest-corner at 50% 140%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.85) 90%);
}
