:root {
  --font-color: white;
  --font-color-nde: black;
  --main-color: rgb(29, 64, 65);
  --second-color: rgb(19, 52, 42);
}

.move_menu, .burger, .Anniversaire, .Login, .qwant, .raccourciM, .raccourciB, input[type=button], .bouton, .Login {
  background-color: var(--main-color);
}

.Center, .site {
  background-color: var(--font-color);
}

.FormCrea, #navbar {
  background-color: var(--second-color);
}


.file, .IcoBook, .Copybook i {
  color: var(--main-color);
}


html, ul, h4, .Title, .taoki, .burger_icon, .menu_cross, .menu_link, .legal, #navbar, #navbar a:visited, .link_footer:checked, .link_footer:link, .link_footer, .link_footer:active, .shortcut, .shortcut:visited, .shortcut:active, .shortcut:checked, .texteF, input[type=button], .bouton, .Login {
  color: var(--font-color);
}

.sujets a, .Dropzone, .texte, .Copybook:visited, .texteF, .sujets a:visited, .tabcontent  {
  color: var(--font-color-nde);
}

.Publication_texte p{
  color: var(--font-color-nde);
}

.FormCrea {
  color: var(--font-color);
}

.contact {
  color: var(--font-color-nde);
}

html {
  background: radial-gradient(ellipse farthest-corner at 50% 140%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.85) 90%);
}
