:root {
  --font-color: white;
  --font-color-nde: black;
  --main-color: rgb(29, 64, 65);
  --second-color: rgb(19, 52, 42);
}

/* Background Color */

.move_menu, .sandwich, .Login, .qwant, .Login, .semaine {
  background-color: var(--main-color);
}

.Anniversaire{
  background-color: darkred;
}

.raccourciM{
  background-color: darkgreen;
}

.raccourciB{
  background-color: rgb(150,120,0);
}

.Center, .site {
  background-color: var(--font-color);
}

.FormCrea, .semaine button:hover, .semaine button.active, #navbar {
  background-color: var(--second-color);
}

/* Color */

.file, .IcoBook, .Copybook i, .matiere {
  color: var(--main-color);
}


.Title, .taoki, .sandwich_icon, .menu_cross, .menu_link, .legal, #navbar, #navbar a:visited, .link_footer:checked, .link_footer:link, .link_footer, .link_footer:active, .shortcut, .shortcut:visited, .shortcut:active, .shortcut:checked, .texteF, .Login, .texteB {
  color: var(--font-color);
}

.FormCrea, .semaine button, #navbar a {
  color: var(--font-color);
}

.sujets a, .Dropzone, .texte, .Copybook:visited, .texteF, .sujets a:visited, .tabcontent, .Publication_texte p, .contact, #navbar a:hover {
  color: var(--font-color-nde);
}

/* pour avoir des boutons avec animation dynamique */
.bouton{
  border-radius: 5px;
  background-color: var(--main-color);
  border: none;
  text-align: left;
  cursor: pointer;
}

.bouton span {
  display: inline-block;
  position: relative;
  &after{
    content: '\00bb';
    position: absolute;
    top: 0;
    right: 0px;
    transition: 0.5s cubic-bezier(1,.19,.47,.96);
  }
}

.bouton:hover span:after {
  right: -100px;
}

html {
  background: radial-gradient(ellipse farthest-corner at 50% 140%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.85) 90%);
}
