@media all and (min-width: 1024px) { 

  /* html */
  html {
  background: radial-gradient(ellipse farthest-corner at 50% 140%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.85) 90%);
  /*height: 100%;*/
  font-family: sans-serif;
  height: 100%;
  }

  .site_container {
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }

  /*.site_pusher {
    transition-duration: 0.3s;
    transform: translateX(0px) 300ms;
    height: 100%;
  }*/


  /*header*/

  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .Title {
    background-color: inherit;
    text-align: center;
    width: 80%;
    margin-left: 10%;
  }

  .taoki {
    width: 150px;
  }

  .burger_icon{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 35px;
    width: 65px;
    height: 65px;
    cursor: pointer;
  }


  /*Menu Burger*/

  .move_menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-left: 10px;
    transform: translateX(0px);
    transition-duration: 300ms;
  }

  .burger {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-left: 10px;
    transform: translateX(-275px);
  }


  .menu_cross {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  li {
    margin-top: 15px;
    margin-left: 0px;
  }

  hr {
    width: 255px;
    color: rgba(23, 23, 23, 0.62);
  }

  .link_footer:visited .link_footer:checked .link_footer:link {
    text-decoration: none;
  }


  /*contenu*/

  .Center {
    background-color: white;
    height: 600px;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 4px;
    width: 1000px;
    margin-left: 30%;
  }

  .Centre_main {
    width: 1000px;
    margin-left: 30%;
    margin-right: 10%;
    padding-top: 50px;
    background-color: inherit;
  }

  /*Anniversaire*/

  .Anniversaire {
    width: 300px;
    margin-left: 15px;
    padding: 10px;
    text-align: center;
  }

  h4 {
    font-size: 1.2em;
  }


  /*footer*/

  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 1%;
    left: 35%;
    font-size: 1.2em;
    width: 30%;
  }

  footer ul:visited {
    text-decoration: none;
  }

  /*icones fontawesome*/

  .icone {
    font-size: 1.3em;
    margin: 10px;
  }


  /*liens animés*/
  .menu_link {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.1em;
    transition: font-size 400ms ease-in-out;
  }

  .menu_link:hover {
    transform: scale(2);
    font-size: 1.5em;
  }


  /*???*/
  .bouton {
    width: 200px;
    height: 40px;
    text-align: left;
  }
  /*
  input[type=button] {
    width: 200px;
    height: 40px;
    border-style: hidden;
    margin-left: 15px;
}
*/

  .retour {
    position: absolute;
    top: 90%;
    left: 3%;
    font-size: 2em;
    color: var(--font-color);
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
  }

  .retour:hover {
    transform: rotate(360deg);
  }
}
