@media all and (max-width: 1024px) {

    /* html */
    .body {
      overflow : hidden ;
    }
  
    html {
      background: radial-gradient(ellipse farthest-corner at 50% 140%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.85) 90%);
      height: 100%;
      font-family: sans-serif;
    }
  
    /*header*/
  
    header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: static;
    }
  
    .Title {
      background-color: inherit;
      color: var(--font-color);
      text-align: center;
      width: 70%;
      margin-left: 5%;
      font-size: 40px;
    }
  
    .taoki {
      width: 200px;
      height: 200px;
      color: var(--font-color);
    }
  
    .sandwich_icon{
      padding-top: 10px;
      padding-left: 10px;
      color: var(--font-color);
      font-size: 30px;
      width: 50px;
      height: 50px;
    }
  
  
    /*contenu*/
  
    .contenu {
      display: flex;
      flex-direction: column;
    }
  
    .Center {
      width: 1000px;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 50px;
    }
  
    input[type=button] {
      width: 150px;
      height: 30px;
      background-color: var(--main-color);
      color: var(--font-color);
      border-style: hidden;
      margin-left: 15px;}
  
  
    /*Menu sandwich horizontal si l'écran est trop petit*/
  
  
    .sandwich {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 100px;
      width: 100%;
      background-color: var(--main-color);
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      text-align : center;
      transform: translateY(-100px);
    }
  
    .menuListe, .menuAutre {
      display: flex;
      flex-direction: row;
    }
  
    .textesandwich, .hrsandwich{
      display: none;
    }
  
      /*Menu sandwich*/
  
      ul {
        list-style: none;
        color: var(--font-color);
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        font-size: 35px;
      }
  
      hr {
        width: 255px;
        color: rgba(23, 23, 23, 0.62);
      }
  
    /*Anniversaire*/
  
    .Anniversaire {
      width: 90%;
      margin-left: 15px;
      padding: 10px;
      text-align: center;
      background-color: var(--main-color);
      font-size: 40px;
    }
  
    h4 {
      color: var(--font-color);
      font-size: 1.5em;
      margin-bottom: 30px;
      margin-top: 20px;
    }
  
    /*footer*/
  
    footer ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      top: 90% ;
      right: 15%;
    }
  
    /*icones fontawesome*/
  
    .icone {
      font-size: 1.3em;
      margin: 10px;
    }
  
    /*liens animés*/
    .menu_link {
      color: var(--font-color);
      text-decoration: none;
      font-size: 1.1em;
      transition: font-size 400ms ease-in-out;
    }
  
    .menu_link:hover {
      transform: scale(2);
      font-size: 1.5em;
    }
  
  
  
  }
  
  @media all and (min-width: 1024px) { /*Pour les écrans de plus de 750pixels
  
    /* html */
    html {
    background: radial-gradient(ellipse farthest-corner at 50% 140%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.85) 90%);
    /*height: 100%;*/
    font-family: sans-serif;
    height: 100%;
    color: var(--font-color);
    }
  
    .site_container {
      -webkit-overflow-scrolling: touch;
      height: 100%;
    }
  
    /*.site_content {
      transition-duration: 0.3s;
      transform: translateX(0px) 300ms;
      height: 100%;
    }*/
  
  
    /*header*/
  
    header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .Title {
      background-color: inherit;
      color: var(--font-color);
      text-align: center;
      width: 80%;
      margin-left: 10%;
    }
  
    .taoki {
      width: 150px;
      color: var(--font-color);
    }
  
    .sandwich_icon{
      padding-top: 10px;
      padding-left: 10px;
      color: var(--font-color);
      font-size: 35px;
      width: 65px;
      height: 65px;
      cursor: pointer;
    }
  }
  
  
    /*Menu sandwich*/
  
    .move_menu {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 275px;
      /*height: 100%;*/
      background-color: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      padding-left: 10px;
      transform: translateX(0px);
      transition-duration: 300ms;
    }
  
    .sandwich {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 275px;
      /*height: 100%;*/
      background-color: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      padding-left: 10px;
      transform: translateX(-275px);
    }
  
  
    .menu_cross {
      color: var(--font-color);
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .menuListe {
      list-style: none;
      color: var(--font-color);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0px;
    }
  
    li {
      margin-top: 15px;
      margin-left: 0px;
    }
  
    hr {
      width: 255px;
      color: rgba(23, 23, 23, 0.62);
    }
  
  
    /*contenu*/
  
    .contenu {
      display: flex;
      flex-direction: row;
    }
  
    .Center {
      width: 1000px;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 50px;
    }
  
  
    /*Anniversaire*/
  
    .Anniversaire {
      width: 300px;
      margin-left: 15px;
      padding: 10px;
      text-align: center;
      background-color: var(--main-color);
    }
  
    h4 {
      color: var(--font-color);
      font-size: 1.2em;
    }
  
  
    /*footer*/
  
    footer ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  
  
    /*icones fontawesome*/
  
    .icone {
      font-size: 1.3em;
      margin: 10px;
    }
  
  
    /*liens animés*/
    .menu_link {
      color: var(--font-color);
      text-decoration: none;
      font-size: 1.1em;
      transition: font-size 400ms ease-in-out;
    }
  
    .menu_link:hover {
      transform: scale(2);
      font-size: 1.5em;
    }
  
  
    /*???*/
  
    input[type=button] {
      width: 200px;
      height: 40px;
      background-color: var(--main-color);
      color: var(--font-color);
      border-style: hidden;
      margin-left: 15px;
  }
  
  
  @media all and (max-width: 1024px) {
  
    /* html */
    .body {
      overflow : hidden ;
    }
  
    html {
      background: radial-gradient(ellipse farthest-corner at 50% 140%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.85) 90%);
      height: 100%;
      font-family: sans-serif;
    }
  
    /*header*/
  
    header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: static;
    }
  
    .Title {
      background-color: inherit;
      color: var(--font-color);
      text-align: center;
      width: 70%;
      margin-left: 5%;
      font-size: 40px;
    }
  
    .taoki {
      width: 200px;
      height: 200px;
      color: var(--font-color);
    }
  
    .sandwich_icon{
      padding-top: 10px;
      padding-left: 10px;
      color: var(--font-color);
      font-size: 30px;
      width: 50px;
      height: 50px;
    }
  
  
    /*contenu*/
  
    .contenu {
      display: flex;
      flex-direction: column;
    }
  
    .Center {
      width: 1000px;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 50px;
    }
  
    input[type=button] {
      width: 150px;
      height: 30px;
      background-color: var(--main-color);
      color: var(--font-color);
      border-style: hidden;
      margin-left: 15px;}
  
  
    /*Menu sandwich horizontal si l'écran est trop petit*/
  
  
    .sandwich {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 100px;
      width: 100%;
      background-color: var(--main-color);
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      text-align : center;
      transform: translateY(-100px);
    }
  
    .menuListe, .menuAutre {
      display: flex;
      flex-direction: row;
    }
  
    .textesandwich, .hrsandwich{
      display: none;
    }
  
      /*Menu sandwich*/
  
      ul {
        list-style: none;
        color: var(--font-color);
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        font-size: 35px;
      }
  
      hr {
        width: 255px;
        color: rgba(23, 23, 23, 0.62);
      }
  
    /*Anniversaire*/
  
    .Anniversaire {
      width: 90%;
      margin-left: 15px;
      padding: 10px;
      text-align: center;
      background-color: var(--main-color);
      font-size: 40px;
    }
  
    h4 {
      color: var(--font-color);
      font-size: 1.5em;
      margin-bottom: 30px;
      margin-top: 20px;
    }
  
    /*footer*/
  
    footer ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      top: 90% ;
      right: 15%;
    }
  
    /*icones fontawesome*/
  
    .icone {
      font-size: 1.3em;
      margin: 10px;
    }
  
    /*liens animés*/
    .menu_link {
      color: var(--font-color);
      text-decoration: none;
      font-size: 1.1em;
      transition: font-size 400ms ease-in-out;
    }
  
    .menu_link:hover {
      transform: scale(2);
      font-size: 1.5em;
    }
  }