@media all and (min-width: 1024px) {

  /* html */
  html {
  font-family: sans-serif;
  height: 100%;
  }

  .site_container {
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }

  .site_content {
    z-index: 1;
    height: 100%;
  }


  /*header*/

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Title {
    background-color: inherit;
    text-align: center;
    width: 70%;
    margin-left: 5%;
  }

  .logo_millocheau {
    display: block;
    width: 190px;
    height: auto;
    position: sticky;
    right: 0;
    }

  .sandwich_icon{
    padding: 10px;
    font-size: 35px;
    width: 65px;
    height: 65px;
    cursor: pointer;
  }


  /*Menu sandwich*/

  .sandwich {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-left: 10px;
    z-index: 3;
    transform: translateX(-275px);
    transition: 300ms all ease-in-out;
    }

  .move_menu {
    transform: translateX(0px);
    }

  .menu_cross {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  li {
    margin-top: 15px;
    margin-left: 0px;
  }

  hr {
    width: 255px;
    color: rgba(23, 23, 23, 0.62);
  }

  .link_footer:visited .link_footer:checked .link_footer:link {
    text-decoration: none;
    min-width: 30px;
  }


  /*contenu*/

  .Center {
    background-color: white;
    height: 655px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 4px;
    width: 1000px;
    margin-left: 25%;
    }

.Center_adap {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  border-radius: 4px;
  width: 1000px;
  min-height: 655px;
  margin-left: 25%;
  position: relative;
  z-index: 1
}

  .Centre_main {
    width: 1000px;
    margin-left: 30%;
    margin-right: 10%;
    padding-top: 50px;
    background-color: inherit;
  }

  /*Anniversaire*/

  .Anniversaire {
    width: 300px;
    margin-left: 15px;
    padding: 10px;
    text-align: center;
  }

  h4 {
    font-size: 1.2em;
  }


  /*footer*/

  #navbar {
    position: fixed; /* Make it stick/fixed */
    bottom: 0; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: bottom 0.3s; /* Transition effect when sliding down (and up) */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 2;
  }

  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: 300ms all ease-in-out;
  }

  #navbar a:hover {
    background-color: #ddd;
  }

  #navbar .icone {
    font-size: 2em;
  }

  /*icones fontawesome*/

  .icone {
    font-size: 1.3em;
    margin: 10px;
  }


  /*liens animés*/

  .menu_link {
    text-decoration: none;
    font-size: 1.1em;
    transition: font-size 400ms ease-in-out;
  }

  .menu_link:hover {
    transform: scale(2);
    font-size: 1.5em;
  }


  /*???*/

  .retour {
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
  }

  .retour:hover {
    transform: rotate(360deg);
  }
}

.ligne {
  display: flex;
  flex-direction: row;
}

.qwant {
  width: 300px;
  margin-left: 50px;
  padding: 10px;
  padding-top: 25px;
  text-align: center;
}

.qwant img {
  width: 200px;
  padding-bottom: 25px;
}

.raccourciM {
  width: 300px;
  height: 200px;
  text-align: center;
  margin-left: 15px;
  margin-top: 50px;
  padding: 10px;
}

.raccourciB {
  width: 300px;
  height: 200px;
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 20px;
  padding: 10px;
}

.rac {
  width: 650px;
}

.raccourci p {
  font-size: 0.8em;
  text-decoration: none;
}

.racicone {
  font-size: 3em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  transition: font-size 400ms ease-in-out;
}

.racicone:hover {
  font-size: 4em;
}

.craie {
  font-family: "Craies";
  font-size: 2em;
}

@font-face
{
    font-family: "Craies";
    src: url("../data/HomemadeApple.ttf");
}

.Publication_texte p {
  border: solid black 2px;
  border-radius: 4px;
  margin-left: 5pt;
  margin-right: 5pt;
  padding: 10pt 6pt 10pt 6pt;
}

/*curseur en pointer sur les boutons de thème*/
.pointer{
  cursor: pointer
}

textarea {
  resize: none;
}

/* pour avoir des boutons avec animation dynamique */
.bouton{
  border-radius: 5px;
  border: none;
  text-align: left;
  cursor: pointer;
  margin: 15px;
  height: 40px;
  width: 200px;
  padding: 5px;
  font-size: 1em;
}

.bouton span {
  display: inline-block;
  position: relative;
  width: 100%
}
.bouton span:after{
    content: '\00bb';
    font-size: 1.5em;
    font-family: sans-serif;
    position: absolute;
    top: -6px;
    right: 25px;
    transition: 0.5s cubic-bezier(1,.19,.47,.96);
  }

.bouton:hover span:after {
  right: 0px;
}

.ListeDeroulante {
  width: 350px;
  height: 30px;
  margin-bottom: 15px;
}

.colonne {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 640px;
}

.fermer {
  color: rgba(88, 89, 93);
  font-size: 35px;
  font-weight: bold;
}

.fermer:hover {
  color: red;
  cursor: pointer;
}

.suppression {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
}

.code {
  font-size: 4em;
}

.IconeProfil {
  font-size: 1.8em;
  padding-right: 10px;
}

.has_cols {
  display: flex;
  flex-direction: row;
}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
 background-color: #fefefe;
 margin: 5px auto; /* 15% from the top and centered */
 border: 1px solid #888;
 width: 20%; /* Could be more or less, depending on screen size */
 display: flex;
 flex-direction: column;
 padding: 5px;
}

/* The Close Button */
.close {
 /* Position it in the top right corner outside of the modal */
 position: absolute;
 right: 775px;
 top: 75px;
 color: #000;
 font-size: 35px;
 font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
 color: red;
 cursor: pointer;
}

/* Add Zoom Animation */
.animate {
 -webkit-animation: animatezoom 0.6s;
 animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
 from {-webkit-transform: scale(0)}
 to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
 from {transform: scale(0)}
 to {transform: scale(1)}
}

.fermer {
  color: rgba(88, 89, 93);
  font-size: 35px;
  font-weight: bold;
}

.fermer:hover {
  color: red;
  cursor: pointer;
}

.avis-area {
  width: 90%;
}

.avis {
  display: flex;
  flex-direction: column;
  overflow : auto;
}
