

@media all and (min-width: 1024px) { /*Pour les écrans de plus de 750pixels

/*html*/

.task {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: solid 1px white;

}

.Title{
  color:white;
}

.site{
  width: 60%;
  margin:auto;
}

.Center h2{
  text-align: center;
  color:white;
}

.contact_list{
  display: flex;
  flex-direction: column;
  color:white;
  }


.contact{
  font-size: 19px;
  margin-right: 10px;
  color:white;
}

.contact_link {
  text-decoration: none;
  cursor:pointer;
}



.hrcontact{
  display:flex;
  flex-direction: row;
  flex:start;
  margin-left: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*menu clic*/


#context_menu {
  width: 260px;
  height: 130px;
  padding-left: 10px;
  padding-top: -10px;
  background-color: black;
  z-index: 1;
  text-decoration: none;
}

#context_menu_icons {
  margin-right: 10px;
}

.context_menu_hr{
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  width: 267px;
}
.context_menu_button {
  cursor: pointer;
}

.show_context_menu {
  display: block;
  position:absolute;
  }

/* context menu 

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 240px;
  background-color: rgb(29, 64, 65);
  border: dashed 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
} */

}

@media all and (max-width: 1024px) {

/*html*/

.task {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: solid 1px white;

}

.task__content {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Title{
  color:white;
}

.site{
  width: 60%;
  margin:auto;
}

.Center h2{
  text-align: center;
  color:white;
}

.contact_list a{
  color:white;
}

.contact{
  display:flex;
  flex-direction: row;
}

.contact a{
  flex:auto;
  font-size: 19px;
  text-decoration: none;
}

.contact i{
  flex:end;
  margin-right: 10px;
  color:white;
}

.hrcontact{
  display:flex;
  flex-direction: row;
}

.hrcontact hr{
  flex:start;
  margin-left: 20px;
}

/* context menu 

.context-menu {
display: none;
position: absolute;
z-index: 10;
width: 240px;
background-color: rgb(29, 64, 65);
border: dashed 1px #dfdfdf;
box-shadow: 1px 1px 2px #cfcfcf;
width: auto;
height: auto;
padding: 10px 10px 10px 10px;
}

.context-menu--active {
display: block;
}

.context-menu__items {
list-style: none;
margin: 0;
padding: 0;
}

.context-menu__item {
display: block;
margin-bottom: 4px;
}

.context-menu__item:last-child {
margin-bottom: 0;
}

.context-menu__link {
display: block;
padding: 4px 12px;
color: #0066aa;
text-decoration: none;
}

.context-menu__link:hover {
color: #fff;
background-color: #0066aa;
} */

}


@media all and (min-width: 1024px) { /*Pour les écrans de plus de 750pixels

/*html*/

.contact {
  color : white
}

.hrcontact {
  width: 750px;
  color: rgba(23, 23, 23, 0.62);
}

/* context menu

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 240px;
  background-color: rgb(29, 64, 65);
  border: dashed 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}


.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}
*/
}

@media all and (max-width: 1024px) {

/*html*/

.task {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: solid 1px white;

}

.task__content {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Title{
  color:white;
}

.site{
  width: 60%;
  margin:auto;
}

.Center h2{
  text-align: center;
  color:white;
}

.contact_list a{
  color:white;
}

.contact{
  display:flex;
  flex-direction: row;
}

.contact a{
  flex:auto;
  font-size: 19px;
  text-decoration: none;
}

.contact i{
  flex:end;
  margin-right: 10px;
  color:white;
}

.hrcontact{
  display:flex;
  flex-direction: row;
}

.hrcontact hr{
  flex:start;
  margin-left: 20px;
}

/* context menu 

.context-menu {
display: none;
position: absolute;
z-index: 10;
width: 240px;
background-color: rgb(29, 64, 65);
border: dashed 1px #dfdfdf;
box-shadow: 1px 1px 2px #cfcfcf;
width: auto;
height: auto;
padding: 10px 10px 10px 10px;
}

.context-menu--active {
display: block;
}

.context-menu__items {
list-style: none;
margin: 0;
padding: 0;
}

.context-menu__item {
display: block;
margin-bottom: 4px;
}

.context-menu__item:last-child {
margin-bottom: 0;
}

.context-menu__link {
display: block;
padding: 4px 12px;
color: #0066aa;
text-decoration: none;
}

.context-menu__link:hover {
color: #fff;
background-color: #0066aa;
} */


}
