/* ------------------------------------------ */
/* Annuaire */

.center_rem {
	font-size: 100%;
}

.titre_liste{
	font-size: 2rem;
	color: var(--font-color);
	text-align: center;
}

.infos_basiques {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.infos_detaillee{
	display: none;
}

.PPannuaire {
	width: 4rem;
	height: 4rem;
	border-radius: 40rem;
	border: 0.1rem black solid;
}

.infos_button {
	padding: 1.5rem;
	font-size: 1.5rem;
	height: 3rem;
	padding: revert;
	border-bottom: black 0.2rem solid;
	cursor: pointer;
	background-color: var(--main-color);
	color: var(--font-color);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.contact {
	display: flex;
	flex-direction: row;
}

.debut {
	display: inline;
	padding: 0rem 2.5rem;
	height: 4rem;
	line-height: 4rem;
}

.line_block_annuaire {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 4rem;
}

.hrcontact {
	width: 100%;
}

.user_name {
	margin-top: auto;
	margin-bottom: auto;
}