

.contenu_annuaire {
  font-size: 75%;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: 1rem solid;
  border-radius: .5rem 4rem 4rem 4rem;
}

.center_annuaire{
  display: block;
  text-align : center;
}

.titre_liste{
  font-size: 200%;
  color: var(--font-color);
}

/*animations texte*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*:root {
  --primary-color: #6CD9CE;
  --secondary-color: #D93BA1;
  --complimentary-color: #2E2473;
}*/

.center_annuaire {
  min-height: 90vh;
  position: relative;
  width: 90vw;
  display: flex;
  background-color: var(--complimentary-color);
  justify-content: center;
  align-items: center;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif*/;
  position: relative;
}

.titre {
  font-size: 1.5rempx;
  color: var(--font-color);
  transform: translateY(6rem);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
  position: relative;
}

.titre::before {
    content: '';
    width: 0%;
    height: 0.75rem;
    background-color: var(--font-color-nde);
    position: absolute;
    bottom: -1rem;
    animation: 1s underline ease-in-out forwards 2s;
    mix-blend-mode: screen;
}

.overlay {
    position: absolute;
    width: 100vw;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    background-color: var(--main-color);
    transform: scale(.5);
    animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes skewBg {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}






















/*.PPannuaire {
  width: 75px;
  height: 75px;
  border-radius: 5000px;
  border: 1px black solid;
}

Pour les écrans de plus de 750pixels

html

.task {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: solid 1px white;

}

.Title{
  color:white;
}

.site{
  width: 60%;
  margin:auto;
}

.Center h2{
  text-align: center;
  color:black;
}

#contact{
  display: flex;
  flex-direction: column;
}

.contact{
  font-size: 19px;
  margin-right: 10px;
  color:black;
}

.contact_link {
  text-decoration: none;
  cursor:pointer;
}

.hrcontact{
  display:flex;
  flex-direction: row;
  flex:start;
  margin-left: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}

menu contextuel

.context_menu {
  width: 260px;
  height: 100px;
  padding-left: 10px;
  background-color: black;
  z-index: 1;
  text-decoration: none;
  display: none;
}

#show_profile{
  margin-top: -17px;
}

#context_menu_icons {
  margin-right: 10px;
}

.context_menu_hr{
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  width: 267px;
}
.context_menu_button {
  cursor: pointer;
}

.show_context_menu {
  width: 260px;
  height: 100px;
  padding-left: 10px;
  background-color: black;
  z-index: 1;
  text-decoration: none;
  display: block;
  position: relative;
  }
*/