.FormCrea {
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.Formulaire {
    display: flex;
    flex-direction: column;
}

.texteF {
    margin: 1px;
}

.Centrer{
    display:flex;
    margin-left: auto;
    margin-right: auto;
}
