.FormCrea {
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.Formulaire {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Centrer{
    margin-left: 20px;
    text-align: center;
}

.Center {
  display: flex;
  flex-direction: row;
}

.listeDeroul {
  width: 300px;
}

.Séparer{
  margin-top: 20px;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
