.FormCrea {
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.Formulaire {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.texteF {
    margin: 1px;
}

.Centrer{
    text-align: center;
}

.Center {
  display: flex;
  flex-direction: row;
}
