/* Style the tab */
.semaine {
 display: flex;
 flex-direction: row;
 border: 1px solid #ccc;
 width: 100%;
 height: 50px;
}

/* Style the buttons that are used to open the tab content */
.semaine button {
 display: block;
 background-color: inherit;
 padding: 5px;
 padding-left: 15px;
 width: 100%;
 border: none;
 outline: none;
 text-align: left;
 cursor: pointer;
 font-size: 1.5em;
}

/* Style the tab content */
.tabcontent {
 float: left;
 padding: 0px 12px;
 border: 1px solid #ccc;
 width: 70%;
 border-left: none;
 height: 300px;
 display: none;
}

.Center {
  padding: 0px;
}
