/* Style the tab */
.semaine {
 display: flex;
 flex-direction: row;
 border: 1px solid #ccc;
 width: 100%;
 height: 50px;
}

/* Style the buttons that are used to open the tab content */
.semaine button {
 display: block;
 background-color: inherit;
 padding: 5px;
 padding-left: 15px;
 width: 100%;
 border: none;
 outline: none;
 text-align: left;
 cursor: pointer;
 font-size: 1.5em;
}

/* Style the tab content */
.tabcontent {
 float: left;
 padding-left: 12px;
 border-bottom: 1px solid #ccc;
 width: 988px;
 border-left: none;
 height: 80%;
 display: none;
}

.Center {
  padding: 0px;
}

.matiere {
  font-size: 2em;
  transform: rotate(0);
  transition: 300 all ease-in-out;
}

.matiere:hover {
  transform: rotate(360);
}
