/* Style the tab */
.semaine {
 display: flex;
 flex-direction: row;
 border: 1px solid #ccc;
 background-color: #f1f1f1;
 width: 100%;
 height: 50px;
}

/* Style the buttons that are used to open the tab content */
.semaine button {
 display: block;
 background-color: inherit;
 color: black;
 padding: 22px 16px;
 width: 100%;
 border: none;
 outline: none;
 text-align: left;
 cursor: pointer;
}

/* Change background color of buttons on hover */
.semaine button:hover {
 background-color: #ddd;
}

/* Create an active/current "tab button" class */
.semaine button.active {
 background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
 float: left;
 padding: 0px 12px;
 border: 1px solid #ccc;
 width: 70%;
 border-left: none;
 height: 300px;
 display: none;
}
