.Center h2 {
  text-align: center;
}

.leaf {
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.texte {
  font-size: 1.2em;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-top: 15px;
  padding-left: 0px;
}

.chip i {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


.liste {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 90%;
}

.Copybook i {
  font-size: 2em;
  margin: 5px;
  text-align: center;
}

.Copybook {
  transform: scale(1);
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  transition: transform 300ms ease-in-out;
  transition: font-size 300ms ease-in-out;
}

.Copybook:hover {
  font-size: 1.15em;
  transform: scale(1.15);
}

.Copybook a:visited {
  text-decoration: none;
}

.Creation {
  margin: 10px;
}

.templateCahierMulimedia {
  display: none;
}

.imageCahierMulimedia {
  display: block;
  width: 40%;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  border: 2px solid black;
  padding: 10px;
  height: 25px;
  text-align: center;
}

.boutonsCahierMultimedia {
  display: flex;
  flex-direction: row;
}

.Saisie {
  margin-bottom: 150px;
  padding-bottom: 25px;
}

textarea{
  display: block;
  width: 65%;
  font-size: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  height:10rem;
}

.videoArea{
  display: block;
  width: 65%;
  font-size: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  height:1rem;
}

.bouton{
  padding: 5px;
  padding-right: 50px;
  font-size: 1em;
}

.bouton span:after{
    content: '\0394';
    top: 0px;
    right: -25px;
    bottom: 10px;
    transition: 0.25s cubic-bezier(1,.19,.47,.96);
    font-family: comic sans-serif;
  }

.bouton:hover span:after {
  top : -5px;
  right: -25px;
}

.AdminMulti {
  position: absolute;
  bottom: 15px;
}
