.Center h2 {
  text-align: center;
}

.leaf {
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.texte {
  font-size: 1.2em;
}

.liste {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 90%;
}

.Copybook i {
  font-size: 2em;
  margin: 5px;
}

.Copybook {
  transform: scale(1);
  font-size: 1em;
  transition: transform 300ms ease-in-out;
  transition: font-size 300ms ease-in-out;
}

.Copybook:hover {
  font-size: 1.15em;
  transform: scale(1.15);
}

.Copybook:visited {
  text-decoration: none;
}

.Creation {
  margin: 10px;
}

.templateCahierMulimedia {
  display: none;
}

.imageCahierMulimedia {
  display: block;
  width: 40%;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  border: 2px solid black;
  padding: 10px;
  height: 25px;
  text-align: center;
}

.boutonsCahierMultimedia {
  display: flex;
  flex-direction: row;
}

.Saisie {
  margin-bottom: 150px;
  padding-bottom: 25px;
}

textarea{
  display: block;
  width: 65%;
  font-size: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  height:15rem;
}

.videoArea{
  display: block;
  width: 65%;
  font-size: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  height:1rem;
}

/*.bouton{
  border-radius: 5px;
  border: none;
  text-align: left;
  cursor: pointer;
  margin: 15px;
  height: 40px;
  width: auto;
  padding: 5px;
  padding-right: 50px;
  font-size: 1em;
}

.bouton span {
  display: inline-block;
  position: relative;
}*/

.bouton span:after{
    content: '\039b';
    top: 0px;
    right: 0px;
    transition: 0.5s cubic-bezier(1,.19,.47,.96);
  }

.bouton:hover span:after {
  top : -10px;
  right: 0px;
}