:root {
  --font-color: black;
  --font-color-nde: white;
  --main-color: rgb(216, 255, 24);
}

html, ul, h4, .Title, .taoki, .burger_icon, .menu_cross, .menu_link, .retour, .Center, .legal, footer ul, footer ul:visited {
  color: var(--font-color);
}


.move_menu, .burger, .Anniversaire {
  background-color: var(--main-color);
}

.file, .IcoBook, .Copybook i {
  color: var(--main-color);
}


.sujets a, .Dropzone, .texte, .Copybook:visited {
  color: var(--font-color-nde);
}

input[type=button] {
  background-color: var(--main-color);
  color: var(--font-color);
}

.Login {
  background-color: var(--main-color);
  color: var(--font-color);
}
