.Fond {
  width: 100%;
  margin-left: 0%;
  display: flex;
  justify-content: space-around;
}

.Login {
  width: 400px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  justify-content: center;
}

.icon {
  padding: 10px;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 200px;
  padding: 10px;
  outline: none;
  height: 30px;
  text-align: center;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.btn, .icon {
  background-color: rgb(25, 125, 122);
}

.btn{
  border: none;
  text-align: left;
  cursor: pointer;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 200px;
}

.btn span {
  display: inline-block;
  position: relative;
  width: 100%
}

.btn span:after{
    content: '\00bb';
    font-size: 1.5em;
    position: absolute;
    top: -6px;
    right: 25px;
    transition: 0.5s cubic-bezier(1,.19,.47,.96);
  }

.bouton:hover span:after {
  right: -100px;
}
