html {
	background-color: blue;
}

#bouton {
	font-size: 2em;
	color: black;
	background-color: white;
	transition: 1000ms ease-in-out;
	text-decoration: none;
}
#bouton:hover {
	font-size: 10em;
	color: white;
	background-color: black;
}