html {
	background-color: blue;
}

.animation_off {
	font-size: 2em;
	color: black;
	background-color: white;
}

.animation_on {
	color: white;
	background-color: black;
}

#bouton:hover {
	font-size: 10em;
}