.PP {
  border: 3px black solid;
  border-radius: 5000px;
  width: 150px;
  height: 150px;
}

.colonnes {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.page{
  display: flex;
  flex-direction: row;
}

.titre_p {
  margin: 0px;
}

h2 {
  margin-top: 5px;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 350px;
  margin-bottom: 15px;
}

/* Style the form icons */
.iconCrea {
  padding: 10px;
  color: white;
  min-width: 40px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid;
}

::placeholder {
  text-align: center;
}
