.PP {
  border: 3px black solid;
  border-radius: 5000px;
  width: 199px;
  height: 199px;
}

.colonnes {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.page{
  display: flex;
  flex-direction: row;
}

.titre_p, h1 {
  margin-bottom: 0px;
}

h2 {
  padding-top: 0px;
}
