.PP {
  border: 3px black solid;
  border-radius: 5000px;
  width: 199px;
  height: 199px;
}

.colonnes {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.page{
  display: flex;
  flex-direction: row;
}

.titre_p {
  padding-bottom: 0px;
}
